<div id='ad-navigation'>
  <ul class="unstyled">
    <li><a href="#offered"><%= I18n.t("global.jobs_offered") %></a>
    <li><a href="#wanted"><%= I18n.t("global.jobs_wanted") %></a>
  </ul>
  <div id='offered-tab' class='active'></div>
  <div id='wanted-tab' class='display-none'></div>
</div>
