<%= form_for(@job_wanted_ad) do |f| %>
  <% if @job_wanted_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_wanted_ad.errors.count, "error") %> prohibited this job_wanted_ad from being saved:</h2>

      <ul>
      <% @job_wanted_ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :desired_location %><br />
    <%= f.text_field :desired_location %>
  </div>
  <div class="field">
    <%= f.label :attachments %><br />
    <%= f.text_field :attachments %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
