<h1>Listing job_wanted_ads</h1>

<table>
  <tr>
    <th>User</th>
    <th>Phone</th>
    <th>Desired location</th>
    <th>Attachments</th>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_wanted_ads.each do |job_wanted_ad| %>
  <tr>
    <td><%= job_wanted_ad.user %></td>
    <td><%= job_wanted_ad.phone %></td>
    <td><%= job_wanted_ad.desired_location %></td>
    <td><%= job_wanted_ad.attachments %></td>
    <td><%= job_wanted_ad.title %></td>
    <td><%= job_wanted_ad.body %></td>
    <td><%= link_to 'Show', job_wanted_ad %></td>
    <td><%= link_to 'Edit', edit_job_wanted_ad_path(job_wanted_ad) %></td>
    <td><%= link_to 'Destroy', job_wanted_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job wanted ad', new_job_wanted_ad_path %>
