<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job_wanted_ad.user %>
</p>

<p>
  <b>Phone:</b>
  <%= @job_wanted_ad.phone %>
</p>

<p>
  <b>Desired location:</b>
  <%= @job_wanted_ad.desired_location %>
</p>

<p>
  <b>Attachments:</b>
  <%= @job_wanted_ad.attachments %>
</p>

<p>
  <b>Title:</b>
  <%= @job_wanted_ad.title %>
</p>

<p>
  <b>Body:</b>
  <%= @job_wanted_ad.body %>
</p>


<%= link_to 'Edit', edit_job_wanted_ad_path(@job_wanted_ad) %> |
<%= link_to 'Back', job_wanted_ads_path %>
