<%= form_for(@job_offered_ad) do |f| %>
  <% if @job_offered_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_offered_ad.errors.count, "error") %> prohibited this job_offered_ad from being saved:</h2>

      <ul>
      <% @job_offered_ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :work_place %><br />
    <%= f.text_field :work_place %>
  </div>
  <div class="field">
    <%= f.label :pay %><br />
    <%= f.number_field :pay %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
