<h1>Listing job_offered_ads</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Work place</th>
    <th>Pay</th>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_offered_ads.each do |job_offered_ad| %>
  <tr>
    <td><%= job_offered_ad.user %></td>
    <td><%= job_offered_ad.name %></td>
    <td><%= job_offered_ad.email %></td>
    <td><%= job_offered_ad.phone %></td>
    <td><%= job_offered_ad.work_place %></td>
    <td><%= job_offered_ad.pay %></td>
    <td><%= job_offered_ad.title %></td>
    <td><%= job_offered_ad.body %></td>
    <td><%= link_to 'Show', job_offered_ad %></td>
    <td><%= link_to 'Edit', edit_job_offered_ad_path(job_offered_ad) %></td>
    <td><%= link_to 'Destroy', job_offered_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job offered ad', new_job_offered_ad_path %>
