<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @job_offered_ad.user %>
</p>

<p>
  <b>Name:</b>
  <%= @job_offered_ad.name %>
</p>

<p>
  <b>Email:</b>
  <%= @job_offered_ad.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @job_offered_ad.phone %>
</p>

<p>
  <b>Work place:</b>
  <%= @job_offered_ad.work_place %>
</p>

<p>
  <b>Pay:</b>
  <%= @job_offered_ad.pay %>
</p>

<p>
  <b>Title:</b>
  <%= @job_offered_ad.title %>
</p>

<p>
  <b>Body:</b>
  <%= @job_offered_ad.body %>
</p>


<%= link_to 'Edit', edit_job_offered_ad_path(@job_offered_ad) %> |
<%= link_to 'Back', job_offered_ads_path %>
