<!DOCTYPE html>
<html>
<head>
  <title><%= t("app.title") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "shared/header" %>
<div id="m3fe-app">
  <%= yield %>
</div>
<%= render partial: "shared/footer" %>
</body>
</html>
